<h2><%= t('.recent_posts') %></h2>
<div id="highlights" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->

  <ol class="carousel-indicators">
    <% @items.each_with_index do |item, idx| %>
        <li data-target="#highlights" data-slide-to="<%=idx%>" class="<%= 'active' if idx == 0 %>"></li>
    <% end %>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <% @items.each_with_index do |item,idx| %>
            <div class="item <%= 'active' if idx == 0 %>" style="background-image: url(<%=item.image.url%>)">
              <%= link_to refinery.news_item_path(item) do %>
                  <div class="carousel-caption">
                    <p><%= item.title %></p>
                  </div>
              <% end %>
            </div>

    <% end %>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#highlights" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Seguinte</span>
  </a>
  <a class="right carousel-control" href="#highlights" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Anterior</span>
  </a>
</div>