<div class="body-container">
  <div class="container-home row">
    <div class="page-header col-sm-12">


      <h1><strong><%= @item.title %></strong></h1>

      <p>
        <small><%= t('.published') %> <%= l(@item.publish_date, :format => :long) %></small>
      </p>

      <% if @item.image %>
          <div class="news-image" style="background-image: url(<%= @item.image.url %>)"></div>
      <% end %>

      <%= @item.body.html_safe %>

      <% if @item.source.present? %>
          <p>
            <small>
              <%= t('.source') %>:
              <% if uri?(@item.source) %>
                <%= link_to @item.source.to_s, @item.source.to_s %>
              <% else %>
                  <%= @item.source.to_s %>
              <%end%>
            </small>
          </p>
      <% end %>

      <p>
        <%= link_to t('.back_to_index'), refinery.news_items_path %>
      </p>

    </div>
  </div>
</div>


