<!DOCTYPE html>
<%= render "/refinery/html_tag" %>
<% site_bar = render('/refinery/site_bar', :head => true) -%>
<head>
  <%= render "/refinery/head" %>
</head>
<body id="<%= canonical_id @page %>">
  <%= site_bar -%>
  <% prng = Random.new %>
  <% background = prng.rand(1..7) %>

  <div class="wrapper background<%=background%>">
    <div id="page_container">
      <header id="header">
        <%= render "/refinery/header" -%>
      </header>
      
      <div stlyle="clear:both"></div>  
      <!-- Begin page content -->
      <section id="page">
        <%= yield %>

      </section>
      
      <footer>
        <%= render "/refinery/footer" -%>
      </footer>
    
    </div>
  </div>
  <%= render "/refinery/javascripts" %>
</body>
</html>
